<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="connStrRemote"
             connectionString="server=popopapi.us.to;userid=remoteuser;password=Kopajler200!;database=classroom;port=3306"
             providerName="System.Data.ProviderName"/>
		<add name="connStrLocal"
             connectionString="server=localhost;userid=root;password=;database=classroom;"
             providerName="System.Data.ProviderName"/>
	</connectionStrings>
</configuration>